.bg-texture {
	background: transparent radial-gradient(circle farthest-side at right bottom, #90CAF9 5%, #64B5F6 25%, #42A5F5 80%, #42A5F5 98%) repeat scroll 0% 0%; }
  
  .text-primary {
	color: #64b5f6 !important; }
  
  .bg-texture-collage {
	background: linear-gradient(-45deg, #90CAF9 33%, transparent 0%), linear-gradient(-45deg, #64B5F6 67%, transparent 33%), linear-gradient(-45deg, #42A5F5 100%, transparent 67%); }
  
  .btn-primary {
	background-color: #90CAF9 !important;
	border-color: #BBDEFB !important; }
  
  .btn-white {
	color: #64b5f6 !important;
	background-color: #fff;
	border-color: #fff; }
  
  .btn-white:hover {
	color: #64b5f6; }
  
  .card .card-body .icon-box {
	padding: 20px 0;
	color: #2196F3; }
  
  .card {
	border: none;
	margin-bottom: 30px;
	height: 90%;
  }
  
  .hero {
	height: 100vh;
	min-height: auto;
  /*  height:auto;*/
	overflow: auto;
	padding: 100px 0; }
  
  .blogcard {
	border: none;
	margin-bottom: 30px;
	background-color: #fff;
	height: 100%;
  }
  
  .text-twitter-alt, .text-facebook-alt, .text-linkedin-alt, .text-google-alt, .text-github-alt {
	color: #2196F3; }
  
  .list-default > li:before {
	content: "\f21b";
	position: absolute;
	left: -25px;
	top: 8px;
	font-size: 10px;
	color: #2196F3;
	font-family: "Ionicons"; }
  
  ::-moz-selection {
	color: #fff;
	text-shadow: none;
	background: #2196F3; }
  
  ::selection {
	color: #fff;
	text-shadow: none;
	background: #2196F3; }
  
  a {
	color: #2196F3;
	transition: all .35s; }
  
  a:hover,
  a:focus {
	color: #2196F3 !important;
	outline: 0;
	text-decoration: none !important; 
  }
  
  .blogtitle {
	color: #2196F3 !important;
	outline: 0;
	text-decoration: none !important; 
  }
  
  .card-outline-primary {
	border: solid 1px #2196F3; }
  
  .row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px; }
  
  .modal-content {
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
		flex-direction: column;
	pointer-events: auto;
	background-color: #FFFFFF;
	background-clip: padding-box;
	border: 1px solid rgba(0, 0, 0, 0.2);
	border-radius: 0.15rem;
	outline: 0; }
  
  .modal-header {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: start;
		align-items: flex-start;
	-ms-flex-pack: justify;
		justify-content: space-between;
	padding: 15px;
	border-bottom: 1px solid #E3F2FD;
	border-top-left-radius: 0.3rem;
	border-top-right-radius: 0.3rem; }
  
  .modal-footer {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
		align-items: center;
	-ms-flex-pack: end;
		justify-content: flex-end;
	padding: 15px;
	border-top: 1px solid #ffffff; }
  
  
  br {
	 display: block;
	 margin: 10px 0;
	  content: "";
  }
  /*
	   FILE ARCHIVED ON 23:46:51 Aug 21, 2018 AND RETRIEVED FROM THE
	   INTERNET ARCHIVE ON 20:26:58 Mar 10, 2019.
	   JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.
  
	   ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
	   SECTION 108(a)(3)).
  */
  /*
  playback timings (ms):
	LoadShardBlock: 356.62 (3)
	esindex: 0.007
	captures_list: 370.115
	CDXLines.iter: 9.256 (3)
	PetaboxLoader3.datanode: 354.342 (4)
	exclusion.robots: 0.19
	exclusion.robots.policy: 0.169
	RedisCDXSource: 1.631
	PetaboxLoader3.resolve: 12.947
	load_resource: 79.929
  */